<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    {% block head %}
    <title>{% block title %}{% endblock %} - Tweet Scheduler</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
