    <!-- source: https://codepen.io/kylewetton/pen/QJbOjw -->
    <div id='clockbox'>
        <div class="clock">
          <div class="clock__second"></div>
          <div class="clock__minute"></div>
            <div class="clock__hour"></div>
          <div class="clock__axis"></div>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
            <section class="clock__indicator"></section>
        </div>
      </div>
