{% extends "base.html" %}
{% block title %}TWISKED Tweet Scheduling Input form{% endblock %}

{% block head %}
  {{ super() }}
    <link rel="stylesheet" xref="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" xref="https://www.w3schools.com/lib/w3-theme-red.css" />
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/tweets.css') }}" />
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/clock.css') }}" />
    <link rel="icon" href= "{{ url_for('static',filename='favicons/favicon.ico') }}" />
{% endblock %}

{% block content %}
  <div id="header">
    <div id="app_id">
      <img id="logo" src="{{ url_for('static',filename="twisked-to.png") }}" />
      <h1>TWISKED</h1>
      <h2>Schedule your bulk tweets</h2>
    </div>
    <div id="app_util">
      {% include 'clock.html' %}
    </div>
  </div>
  <div id="metadata">
    <div id="accounts">
      Twitter Account:
      <input type="radio" name="account" id="a1" {{ checked1 }} >1
      <input type="radio" name="account" id="a2" {{ checked2 }} >2
      <input type="radio" name="account" id="a3" {{ checked3 }} >3
    </div>
    <div id='timers'>
      <span id="start">Start <input type="datetime-local" width=20 min="{{ min }}" value="{{ start }}"></input></span>
      <span id='interval' title="Number of minutes between tweets">Interval <input type="number" min=1 placeholder='in minutes' value={{ interval }} ></input></span>
    </div>
  </div>
  <form id="twisked" action="{{ url_for('show_tweet_form') }}" method="POST">
    <div id="table">
      <div id="thead">
        <div class="row">
          <div class="dt">Date/Time</div>
          <div class="text">Text</div>
          <div class="url">Url</div>
          <div class="manage"> </div>
        </div>
      </div>
      <div id="tbody">
        {{ rows|safe }}
      </div>
      <div id="tfoot">
      </div>
    </div>

    <div id="controls">
      <button id="shuffler" type="button" title="Randomize the sequence of tweets" onClick="shuffle_rows();">SHUFFLE</button>
      <input type="file" name="" id="input_file" accept=".twt" hidden>
      <button id="import" type="button" title="Import past tweets" onClick="as_fileinput();">IMPORT</button>
      <button id="clear" type="button" title="Delete all entries" onClick="delete_all()">CLEAR</button>
      <button id='add' type="button" title="Insert highlighted tweet">🞧</button>{# U+1f7a7 #}
      <button id="saveTweets" type="submit" onClick="submitter('save')">SAVE</button>
      <button id="submitTweets" type="submit" onClick="submitter('send')">SUBMIT</button>
    </div>
    <textarea id="tweet4submit" name="formdata"></textarea>
  </form>

  <script src="{{ url_for('static',filename='javascript/tweets.js') }}"></script>
  <script src="{{ url_for('static',filename='javascript/clock.js') }}"></script>
  <script>
  </script>
{% endblock %}





<!-- # vim: set ai ts=2 sw=2 tw=0 : -->
