@font-face {
  font-family: 'QuicksandLight';
  src: url("./Quicksand Light 300.ttf");
  font-display: swap;
}
@font-face {
  font-family: 'Sourcecode';
  src: url("./Source Code Pro for Powerline.otf");
  font-display: swap;
}
@font-face {
  font-family: 'LeagueSpartanBlack';
  src: url('./LeagueSpartan-Black.otf');
  font-display: swap;
}
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
body * {
  font-family: arial, sans, sans-serif;
}
html, body { height: 0 } /* unhides elements having < 0 z-index ? */

/* Clock ==================================================*/
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#app_id {
  width: 65%;
}

#app_id h1, #app_id h2 {
  font-family: 'QuicksandLight' !important;
  font-weight: 400;
  color: #008AFF;
}
#app_id h1 {
  font-size: 100px !important;
  text-transform: lowercase;
}
#app_id h2 {
  font-size: 30px;
  margin-top: -90px;
  text-transform: lowercase;
  letter-spacing: -.027em !important;
}
#logo {
    float: left;
    width: 105px;
    margin-top: 96px;
}

#clockbox {
  width: 220px;
  height: 220px;
  position: relative;
  margin-right:20px;
}

/* ==================================================*/

#content {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}
#metadata {
  border-radius: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #eaeaea;
}
#start {
  cursor: pointer;
}

#start span {
  visibility: hidden;
}
#start {
  position: relative;
  display: inline-block;
  cursor: pointer;
  }

#start .tooltip {
  visibility: hidden;
  white-space:nowrap;
  background-color: #E0E0E0;
  color: black;
  border-radius: 6px;
  border: 1px dotted gray;
  font-size: 1.2em;
  padding: 5px 10px;
  font-family: monospace;
  text-align: left;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  right: 100%;
  bottom: 100%;
  opacity: 0;
  transition: opacity 2s;
}

#start:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#tweet4submit {
  display: none;
}
.datetime, .manage {
  width: 0.1%;
  white-space: nowrap;
}
.manage {
  cursor: pointer;
}
.trash:hover {
  color:red;
}
#interval input {
  width: 40px;
  text-align: right;
}
#interval input::-webkit-inner-spin-button,
#interval input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
  -moz-appearance: textfield;
}
#controls {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}
#shuffler, #add, #submitTweets {
  width: min-content;   /* seems unnecessary */
}
#controls button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: normal;
}
#add {
  width: 100%;
  font-weight: bold !important;
}
#controls button:hover {
  color: white;
  background-color: #adadad;
  font-weight: bold;
}
/* TABLE =============================================*/
#table #thead .row, #tbody .row {
  display: flex;
  border: 1px solid white;
}
#thead .row {
  background-color:#adadad;
  border-radius: 5px;
}
#tbody .row div {
  padding: 15px;
}
#thead .row div {
  padding: 5px 15px;
  font-weight: bold;
  color: white;
}
#table .url {
  display: none;
}
#table .dt {
  width: 150px;
}
#table .manage {
  width: 20px;
}
#table .text {
  flex: 1;
}
#tbody .row {
  position: relative;
  border: 1px dotted grey;
  border-radius: 10px;
  margin-top: 5px;
  border-bottom-left-radius: 24px;
}
#tbody .row:focus-within {
  border: 1px solid black;
}
#tbody .row .count {
  position: absolute;
  bottom: -5px;
  right: 0px;
  font-family: LeagueSpartanBlack;
  opacity: .15;
  font-size: 3.3em;
  z-index: -1;
}
#tbody .row:focus-within .count {
  opacity: .30;
  
}
.count[data-excess="false"] {
  color: green;
  font-weight: normal;
}
.count[data-excess="true"] {
  color: red;
  font-weight: bold;
}
[contenteditable] {
  outline: none;
}
[contenteditable]:focus {
  xbackground-color: #afafaf2e;
  background: linear-gradient(to bottom right, #afafaf75, 20%, #ffffff00);
}
#tbody .dt, #tbody .text {
  font-family: SourceCode;
}
#tbody .dt {
  white-space: nowrap;
}
/* Drag N Drop =======================================================*/
div[draggable="true"] {
  /* cursor: move; */
}

div[draggable="true"].dragging {
  opacity: .1;
}
.move {
  position:absolute;
  opacity: .5;
  bottom: -10px;
  left: 0px;
  cursor: move;
}


# vim: set ai ts=2 sw=2 tw=0 syn=css :
